.nav{
    color: black;
    list-style: none;
    text-align: right;
    Padding: 40px 0 0 0;
}

.blockAdmin{
    display: inline-block;
    padding: 0 25px 0 25px;
}

.buttonAdmin{
    border: 2px solid rgba(43, 39, 39, 0);
    background-color: white;
    background: rgba(43, 39, 39, 0);
    font-size: 25px;
}


.buttonAdmin:hover{
    color: #a19999;
}

