body {
    background-color: white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttonInicio {
    font-size: 25px;
    border-radius: 10px;
    background-color: brown;
    color: white;
    border: 0px solid;
    padding: 1.5%;
    margin-left: 2%;
    margin-right: 2%;
}

.btn {
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    margin: 5px;    
    border-radius: 10px;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    display: inline-block;
  }

  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }

  .inicioW{
    background-color: #2c3e50;
    padding: 1;
    margin: 0.1%;
    border-radius: 10px;
    height: 60px;
    align-items: center;
}