body {
    background-color: aqua;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttonInicio {
    font-size: 25px;
    border-radius: 10px;
    background-color: brown;
    color: white;
    border: 0px solid;
    padding: 1.5%;
    margin-left: 2%;
    margin-right: 2%;
}