.body {
  font-size: 25px;
  font-family: 'Aboreto', cursive;
}

#h1{
  color: white;
}

.primero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.buttonInicio {
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgba(114, 79, 44, 0.349);
  color: white;
  padding: 1.5%;
  margin-left: 2%;
  margin-right: 2%;
  border: 2px solid rgba(37, 35, 35, 0);
}

.buttonInicio:hover {
  font-size: 25px;
  background: rgba(158, 84, 23, 0.555);
}