.buttonAdmin {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 1.5%;
}
.blockAdmin {
    background-color: black;
}
/* Permite centrar la tabla de lista productos*/
.center {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;

}

th, td{
    border: 1px solid black; 
}